<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>the login</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="main.css" rel="stylesheet">
</head>
<body>
<div class ="log-box">
    <div class="form-box">
        <form action="#">
            <h1>login</h1>
            <div class="in-box">
                <span class="icon"><i class='bx bxs-envelope'></i></span>
                <input type="email"needed>
                <label>Email</label>
            </div>
            <div class="in-box">
                <span class="icon"><i class='bx bxs-lock'></i></span>
                <input type="password"needed>
                <label>password</label> 
                </div>
                <div class="remember">
                    <label><input type="checkbox">
                    remember me</label>
                    <a href="#">forgot my password</a>
                    <button type="submit" class="btn">log in</button>
                </div>
        </form>
    </div>
</div>
</body> 
</html>